<div class="jumbotron" style="background: transparent; text-align: center">
  <h1 class="display-3">CoderChat</h1>
  <p class="lead">Fast and Good</p>
  <p>Useful for everybody</p>
  <p class="lead">
    <%= link_to "Sign Up", new_user_path,class: "btn btn-primary btn-lg" %>
  </p>
</div>
